* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #000000;
    position: relative;
    color: rgb(244, 244, 244);
  
  }

   body {
  margin: 0;
  overflow-x: hidden;
}






  .header h1 {
    font-size: 20px;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    width: 100px;
  }
  
  .titulo {
    flex: 2;
    text-align: center;
    font-size: 34px;
    
    
  
  }
  
  .nav-links {
    flex: 3;
    text-align: right;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
  }
  
  .hamburguer-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    left: 15px;
  }
  
  .hamburguer-menu span {
    width: 23px;
    height: 3px;
    background-color: #f9f9f9;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .logo-container {
      flex: 1;
      text-align: center;
    }
  
    .titulo {
      flex: 1;
      color: rgb(255, 255, 255);
    }
  
    .hamburguer-menu {
      display: flex;
    }
  
    /* Menu Mobile */
    .nav-links.active {
      display: block;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
  
    .nav-links.active ul {
      display: block;
      padding: 20px;
    }
  
    .nav-links.active li {
      margin-bottom: 10px;
    }
  
    .nav-links.active a {
      font-size: 18px;
    }
.countdown {
  display: grid;
  color: white;
  gap: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

 
}

.title {
  grid-column: 4 span;
  text-align: center;
  font-size: 22px;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.value {
  font-size: 64px;
  font-weight: 700;
}

.name {
  font-size: 16px;
  

}
  
#red2{
background-color: rgb(196, 23, 23);
color: white;
font-size: 19px;
padding-top: 10px;
padding-bottom: 20px;
margin: 0 !important;
padding: 0 !important;
border: none !important;

}

#linha{
  background-color: #4e4d4d;
  width: 100v;
  height: 6px;
}

#red h2{
  color: rgb(254, 254, 254);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;


}

#video-overlay2 {
  position: relative; /* Essencial para limitar o z-index do filho */
  max-width: 800px;
  margin: 50px auto;
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15)
}

#introVideo {
  width: 100%;
  height: auto;
  display: block;
  
}

.texto-sobreposto {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(17, 16, 16, 0.75);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  z-index: 1; /* Suficiente para ficar acima do vídeo dentro do #video-overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 8px rgba(255,255,255,0.2);
  transition: all 0.3s ease;
  z-index: 9999;
}

.texto-sobreposto:hover {
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
  background: linear-gradient(to right, rgba(0,0,0,0.85), rgba(30,30,30,0.85));
}

.logo-mini {
  
  object-fit: cover;
  background-color: white;
  margin: 0 auto 20px auto;

  display: block;
}

#video-overlay h1 {
  margin: 30px 0;
  font-size: 22px;
  color: #000000;
  text-align: center;
  line-height: 1.4;
}

.section4 {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  z-index: 1;
  
  
}

.bloco-transparente {
  background-color: rgba(0, 0, 0, 0.758);
  padding: 20px;
  border-radius: 12px;
}

.bloco-transparente h2 {
  font-size: 22px;
  color: #fbfbfb;
}

.bloco-transparente p {
  font-size: 16px;
  color: #ffffff;
  margin: 10px 0;
}

@media (max-width: 600px) {
  .texto-sobreposto {
    top: 80%;
    font-size: 16px;
    padding: 13px;
    gap: 10px;
    text-align: center;
  }

  .logo-mini {
   height: 50PX;
  }

  #video-overlay h1 {
    font-size: 18px;
  }
}
