* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #000000;
    position: relative;
    color: rgb(244, 244, 244);
  
  }

   

  .header h1 {
    font-size: 20px;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    width: 100px;
  }
  
  .titulo {
    flex: 2;
    text-align: center;
    font-size: 24px;
    
    
  
  }
  
  .nav-links {
    flex: 3;
    text-align: right;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
  }
  
  .hamburguer-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    left: 15px;
  }
  
  .hamburguer-menu span {
    width: 23px;
    height: 3px;
    background-color: #f9f9f9;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .logo-container {
      flex: 1;
      text-align: center;
    }
  
    .titulo {
      flex: 1;
      color: rgb(255, 255, 255);
    }
  
    .hamburguer-menu {
      display: flex;
    }
  
    /* Menu Mobile */
    .nav-links.active {
      display: block;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
  
    .nav-links.active ul {
      display: block;
      padding: 20px;
    }
  
    .nav-links.active li {
      margin-bottom: 10px;
    }
  
    .nav-links.active a {
      font-size: 18px;
    }
.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  gap: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

 
}

.title {
  grid-column: 4 span;
  text-align: center;
  font-size: 22px;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.value {
  font-size: 64px;
  font-weight: 700;
}

.name {
  font-size: 16px;
  

}
  
#red{
background-color: rgb(182, 28, 28);
color: white;
font-size: 20px;
padding-top: 10px;
padding-bottom: 20px;

}

#red h2{
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;


}